html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* height: 100vh;
  width: 100vw; */
}

body {
  background-image: url("./thanksbg.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

p {
  font-family: "Muli", sans-serif;
}

h2 {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
}
@keyframes bodygrow {
  from {
    width: 200px;
  }
  to {
    width: 400px;
  }
}

@keyframes headup {
  from {
    transform: translateY(0);
    z-index: 0;
    width: 0;
  }
  to {
    transform: translateY(-110%);
    z-index: 10;
    width: 20%;
  }
}

@keyframes lfoot {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  to {
    transform: translate(-40%, 120%) rotate(10deg);
  }
}

@keyframes rfoot {
  from {
    transform: translate(0, 0) rotate(0deg);
  }
  to {
    transform: translate(40%, 130%) rotate(-10deg);
  }
}

@keyframes lwing {
  0% {
    transform: translate(0, 0) rotate(0deg);
    z-index: 0;
  }
  25% {
    transform: translate(-60%, 10%) rotate(10deg);
  }
  50% {
    transform: translate(-85%, 35%) rotate(20deg);
  }
  75% {
    transform: translate(-105%, 70%) rotate(60deg);
  }
  100% {
    transform: translate(-120%, 75%) rotate(20deg);
    z-index: 1030;
  }
}

@keyframes rwing {
  0% {
    transform: translate(0, 0) rotate(0deg);
    z-index: 0;
  }
  25% {
    transform: translate(60%, 10%) rotate(-10deg);
  }
  50% {
    transform: translate(85%, 35%) rotate(-20deg);
  }
  75% {
    transform: translate(105%, 70%) rotate(-60deg);
  }
  100% {
    transform: translate(120%, 75%) rotate(-20deg);
    z-index: 1030;
  }
}

@keyframes f1 {
  from {
    transform: translate(0, 0) rotate(0deg);
    width: 0%;
  }
  to {
    transform: translate(-60%, 90%) rotate(-10deg);
    width: 40%;
  }
}

@keyframes f2 {
  from {
    transform: translate(0, 0) rotate(0deg);
    width: 0%;
  }
  to {
    transform: translate(-80%, 80%) rotate(-10deg);
    width: 40%;
  }
}

@keyframes f3 {
  from {
    transform: translate(0, 0) rotate(0deg);
    width: 0%;
  }
  to {
    transform: translate(-80%, 0%) rotate(-10deg);
    width: 40%;
  }
}

@keyframes f4 {
  from {
    transform: translate(0, 0) rotate(0deg);
    width: 0%;
  }
  to {
    transform: translate(-80%, -40%) rotate(-10deg);
    width: 40%;
  }
}

@keyframes f5 {
  from {
    transform: translate(0, 0) rotate(0deg);
    width: 0%;
  }
  to {
    transform: translate(-70%, -60%) rotate(-10deg);
    width: 32%;
  }
}

@keyframes f6 {
  from {
    transform: translate(0, 0) rotate(0deg);
    width: 0%;
  }
  to {
    transform: translate(0%, -90%) rotate(-10deg);
    width: 25%;
  }
}

@keyframes f7 {
  from {
    transform: translate(0, 0) rotate(0deg);
    width: 0%;
  }
  to {
    transform: translate(70%, -60%) rotate(10deg);
    width: 32%;
  }
}

@keyframes f8 {
  from {
    transform: translate(0, 0) rotate(0deg);
    width: 0%;
  }
  to {
    transform: translate(82%, -40%) rotate(10deg);
    width: 40%;
  }
}

@keyframes f9 {
  from {
    transform: translate(0, 0) rotate(0deg);
    width: 0%;
  }
  to {
    transform: translate(86%, 0%) rotate(10deg);
    width: 40%;
  }
}

@keyframes f10 {
  from {
    transform: translate(0, 0) rotate(0deg);
    width: 0%;
  }
  to {
    transform: translate(80%, 80%) rotate(10deg);
    width: 40%;
  }
}

@keyframes f11 {
  from {
    transform: translate(0, 0) rotate(0deg);
    width: 0%;
  }
  to {
    transform: translate(60%, 90%) rotate(10deg);
    width: 40%;
  }
}

@keyframes headwiggle {
  0% {
    transform: translateY(-100%) rotate(0deg);
    transform-origin: bottom center;
    z-index: 10;
    width: 20%;
  }
  50% {
    transform: translateY(-100%) rotate(20deg);
    transform-origin: bottom center;
    z-index: 4000;
    width: 25%;
  }

  100% {
    transform: translateY(-110%) rotate(0deg);
    transform-origin: bottom center;
    z-index: 10;
    width: 20%;
  }
}

@keyframes leftiris {
  0% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes rightiris {
  0% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(8px);
  }
}

@keyframes slideleft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1500px);
  }
}

.container {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: slideleft 1.6s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 13s;
}

#message {
  width: 95%;
  max-width: 700px;
  height: auto;
  transform: translateX(1500px);
  background-color: rgba(255, 255, 255, 1);
  border: 4px solid #bea551;
  border-radius: 75% 25% 80% 25% / 25% 75% 30% 80%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#message h2 {
  font-size: 28px;
  width: 60%;
  margin: 100px auto 20px auto;
}

#message p {
  font-size: 17px;
  width: 60%;
  margin: 0 auto;
}

#sass-logo {
  width: 150px;
  margin: 15px 0 100px 0;
}

#bird-head {
  width: 0%;
  max-width: 175px;
  position: absolute;
  z-index: 0;
  animation: headup 2s ease-in-out, headwiggle 1s ease-out;
  animation-delay: 0s, 11s;
  animation-fill-mode: forwards, forwards;
}

#bird-bod {
  width: 50%;
  max-width: 375px;
  position: relative;
  z-index: 1000;
}

#bird-lfoot {
  width: 12.5%;
  max-width: 90px;
  position: absolute;
  z-index: 0;
  animation: lfoot 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#bird-rfoot {
  width: 12.5%;
  max-width: 90px;
  position: absolute;
  z-index: 0;
  animation: rfoot 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

#bird-lwing {
  width: 15%;
  max-width: 100px;
  position: absolute;
  z-index: 0;
  animation: lwing 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

#bird-rwing {
  width: 15%;
  max-width: 100px;
  position: absolute;
  z-index: 0;
  animation: rwing 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

#bird-f1 {
  width: 0%;
  max-width: 270px;
  position: absolute;
  z-index: 0;
  animation: f1 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 6.5s;
}

#bird-f2 {
  width: 40%;
  max-width: 270px;
  position: absolute;
  z-index: 0;
  animation: f2 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 7.5s;
}

#bird-f3 {
  width: 0%;
  max-width: 270px;
  position: absolute;
  z-index: 0;
  animation: f3 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

#bird-f4 {
  width: 0%;
  max-width: 270px;
  position: absolute;
  z-index: 0;
  animation: f4 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

#bird-f5 {
  width: 0%;
  max-width: 210px;
  position: absolute;
  z-index: 0;
  animation: f5 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 8s;
}

#bird-f6 {
  width: 0%;
  max-width: 170px;
  position: absolute;
  z-index: 0;
  animation: f6 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 8.5s;
}

#bird-f7 {
  width: 0%;
  max-width: 210px;
  position: absolute;
  z-index: 0;
  animation: f7 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
}

#bird-f8 {
  width: 0%;
  max-width: 270px;
  position: absolute;
  z-index: 0;
  animation: f8 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}

#bird-f9 {
  width: 0%;
  max-width: 270px;
  position: absolute;
  z-index: 0;
  animation: f9 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 7s;
}

#bird-f10 {
  width: 0%;
  max-width: 270px;
  position: absolute;
  z-index: 0;
  animation: f10 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
}

#bird-f11 {
  width: 0%;
  max-width: 270px;
  position: absolute;
  z-index: 0;
  animation: f11 2s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 9s;
}

#leftiris {
  transform: translate(-4px, 0px);
  animation: leftiris 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 11.5s;
}

#rightiris {
  transform: translate(4px, 0px);
  animation: rightiris 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 11.5s;
}
